body{
	margin-right: 200px;
	background-color:#171616;
	color: #5B5959;
	margin: 0px;
	padding: 0px;
	text-align: center;
font-family: serif;
}



li {list-style-type: none;
font-size: 16pt;
}
.mail {
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
border: 1px soild silver;
color: #000
}
.mail h2 {
margin-left: 38px;
}
input {
font-size: 20pt;
}
input:focus, textarea:focus{
background-color: lightyellow;
}
input submit {
font-size: 12pt;
}
.rq {
color: #FF0000;
font-size: 10pt;
}







form.nameform {
    display: table;
}

div.nameform {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
	
}

.namediv{
		width: 30%;
		margin-left: 40%;
}

.emaildiv{
		width: 30%;
		margin-left: 40%;
}

.namediv label {
	position: relative;
    text-align: center;
	top: 15px;
	font-size: 20px;
}

.emaildiv label {
	position: relative;
    text-align: center;
	top: 15px;
	font-size: 20px;
}


/* allowing scroll animation  */
html {
  scroll-behavior: smooth;
}


/* Video */
/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

#video {
	height: 500px;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
/*   background-color: #f6f6f6;   getting rid of this allows highlighting of choice */
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  color: #808080;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

/* #shopdisk {
   background-image: url("../Assets/Shop-Menu-Hover.png") no-repeat;
}
#aboutdisk {
   background-image: url("../Assets/about-menu-hover.png") no-repeat;
}
#calenderdisk {
   background-image: url("../Assets/calender-menu-hover.png") no-repeat;
}
#songdisk {
   background-image: url("../Assets/song-menu-hover.png") no-repeat;
} */


/* .menucontainer{
  margin: auto 300px;
  width:700px;
  display:grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
} */

.draggable{
	    display:inline;
    background-color:green;
    color:#F4D03F;
}

@media only screen and (max-width: 1500px) {  
.menucontainer{
  margin: auto 100px;;	
}
}

@media only screen and (max-width: 1250px) {  
.menucontainer{
  margin: auto 0px;;	
}
}

@media only screen and (max-width: 1000px) {
.menucontainer{
  width:800px;
}

.diskmenu{
    width: 400px;
    height: 400px;
}

/* resize images */
.diskmenu img {
    width: 100%;
    height: 100%;
}
}


@media only screen and (max-width: 750px) {
.menucontainer{
  width:400px;
}

.diskmenu{
    width: 200px;
    height: 200px;
}

/* resize images */
.diskmenu img {
    width: 100%;
    height: 100%;
}
}

@media only screen and (max-width: 400px) {
.menucontainer{
  width:330px;
}

.diskmenu{
    width: 165px;
    height: 165px;
}

/* resize images */
.diskmenu img {
    width: 100%;
    height: 100%;
}
}

#aboutdiv {
	font-size: 20px;
}

#top {
	border:5px solid black;
	 background-color:#fcb3e7;
	 background: url("../Assets/eminemheading2.jpg");
	 padding: 4%;
	 margin: 0%;
 }
 
#top1 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
 }
#top2 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
 }  
#top3 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
 }
#top4 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
 }
 
#top5 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
 }
 
#top6 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
 }
 
#top9 {
	border:5px solid black;
	 font-size: 75px;
	 
	 
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
}

#top7 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
}

#top8 {
	border:5px solid black;
	 font-size: 75px;
	 background-color:#3C3C3C;
	 padding: 4%;
	 margin: 0%;
	 
}
 
#Slider{
	padding: 0%;
	position: relative;
	top: 0px;
	
}




#disk{
  position: relative;
}
#disk a{
  display: block;      
  position: absolute;
}

}

#navlist{
	
	display: inline;
	
	
}


@media only screen and (max-width: 1200px) {
}
 #top {
	 border:5px solid black;
	 font-size: 25px;
 }

 li a{
	text-decoration: none;
	color: #033a3d;
	font-size: 20px
}
}


/* Calender */
.calenderdiv {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  background-color: #202020;
  padding: 10px;
}
#calmonth1 {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth2 {
  background-color: #000000;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth3 {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth4 {
  background-color: #000000;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth5 {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth6 {
  background-color: #000000;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth7 {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth8 {
  background-color: #000000;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth9 {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth10 {
  background-color: #000000;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth11 {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#calmonth12 {
  background-color: #000000;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.calheader {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #606060;
  color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}


/* TEST FOR TIMELINE WORKING */

* {
    box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fixing the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  .right {
    left: 0%;
  }
}  



/* Footer */
.footernavbar {
  overflow: hidden;
  background-color: #333;  
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footernavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footernavbar a:hover {
  background-color: #ddd;
  color: black;
}

.footernavbar a.active {
  background-color: #4CAF50;
  color: white;
}

.footernavbar .icon {
  display: none;
}

.radio {
display: inline;
}


@media only screen and (max-width: 440px) {
  #menumobile {
    display: none;
  }
}




textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}










ul.grid{
  background: #aaa;
  width: 350px;
  border: 1px solid;
}
ul.grid li{
  list-style: none;
  display: inline-block;
  background: #222222;
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin: 6px;
  border: 1px solid;
}

.collection{
  min-height: 150px;
  max-width: 50%;
  background: #aaa;
  float: center;
}
.draggablediv{
  float: center;
}
.draggable{
  cursor: pointer;
}
.icon-remove{
  margin-left: 70px;
  cursor: pointer;
}

.heading{
  background: #999;
  color: brown;
  float: center;
}

#item1 {
	 background: url("../Assets/walkonwater.jpg");

 }
 #item2 {
	 background: url("../Assets/venom.jpg");

 }#item3 {
	 background: url("../Assets/notafraid.jpg");

 }#item4 {
	 background: url("../Assets/rapgod.jpg");

 }#item5 {
	 background: url("../Assets/whenimgone.jpg");

 }#item6 {
	 background: url("../Assets/mockingbird.jpg");

 }
 
 
 

